@model Online_Story_Maker_Sridhar.Models.Image_Table

@{
    ViewBag.Title = "Details";
}

<h3>Details</h3>

<div>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Storydet.StoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Storydet.StoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageName)
        </dt>
        @*<dd>
            @Html.DisplayFor(model => model.ImageName)
        </dd>*@

        <dd>
            <img src="@Url.Content("~/UploadedFiles/"+Model.ImageName)" alt="images" />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImageCaption)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageCaption)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageSequence)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageSequence)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateofCreation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateofCreation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateofModification)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateofModification)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageDescription)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.ivar1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ivar1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ivar2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ivar2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ivar3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ivar3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.inum1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.inum1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.inum2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.inum2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.inum3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.inum3)
        </dd>*@

    </dl>
</div>
<p>
   @if (User.IsInRole("developer"))
{
    @Html.ActionLink("Edit", "Edit", new { id = Model.ImageID })
}
|@Html.ActionLink("Back to List", "Index","Story")
</p>
